@import "../../../styles";

.card-container {
  display: grid;
  grid-gap: 10px;
  border-radius: 3px;

  @include box-shadow();

  .header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    background-color: $green;
    color: #fefefe;

    .title {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: auto 1fr;
      align-items: center;
    }
  }

  .body,
  .footer {
    padding: 10px;
  }
}
