@import "../../../styles";

button {
  position: fixed;
  z-index: 2;
  right: 3%;
  bottom: 3%;
  border-radius: 50%;
  border: none;
  background-color: $red;
  transition: all 0.3s;
  height: 0;
  width: 0;
  visibility: hidden;
  cursor: pointer;
  @include box-shadow();

  &:focus {
    outline: none;
  }

  &.is-shown {
    height: 50px;
    width: 50px;
    visibility: visible;
  }

  i {
    color: white;
    font-size: 0;

    &.is-shown {
      font-size: 15px;
    }
  }

}
