<app-toolbar
[title]="'100 Angular Challenges'"
>
  <ul>
    <li>Components</li>
    <li>Directives</li>
    <li>Services</li>
    <li>Pipes</li>
    <li>Other</li>
  </ul>
</app-toolbar>

<main>

  <app-card
    [iconClasses]="'fas fa-info-circle'"
    [title]="'Top of Page'"
    [subTitle]="'Components'"
  >
    <p body>Scroll 400px down the page to render</p>
  </app-card>

  <app-card
    [iconClasses]="'fas fa-info-circle'"
    [title]="'Star Ratings'"
    [subTitle]="'Components'"
  >
    <app-star-ratings body [rating]="1.6">
    </app-star-ratings>
  </app-card>

  <app-card
    [iconClasses]="'fas fa-info-circle'"
    [title]="'Progress Bar'"
    [subTitle]="'Components'"
  >
    <app-progress-bar body [value]="progressValue">
    </app-progress-bar>

    <button footer (click)="progressValue = 75">Update</button>
  </app-card>

  <app-card
    [iconClasses]="'fa fa-info-circle'"
    [title]="'Accordion'"
    [subTitle]="'Components'"
  >
    <app-accordion
      body
      [items]="accordionItems"
    >

    </app-accordion>
  </app-card>

  <app-card
    [iconClasses]="'fas fa-info-circle'"
    [title]="'Card'"
    [subTitle]="'Components'"
  >
    <p footer>Footer Content</p>
    <p body>Body Content</p>
  </app-card>
</main>

<app-top-of-page></app-top-of-page>
