<div class="accordion-container">
  <div *ngFor="let item of items" class="item">
    <div class="header">
      <h4>{{item.title}}</h4>
      <i
        class="fas fa-chevron-down"
        [class.is-expanded]="item.isExpanded"
        (click)="toggle(item)"
      ></i>
    </div>
    <div class="content" [class.is-expanded]="item.isExpanded">
      <p>{{item.content}}</p>
    </div>
  </div>
</div>
